<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | {{ g.site.title }}</title>
    {% include 'partials/_head.html' %}
</head>

<body>
    {% block mainbody %}{% endblock %}

    {%block footer %}
    <footer class="container footer text-center page-links">
        <ul class="copyright" style="list-style: none;">
            <li  style="list-style: none;">Powered by <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a></li>
            <li  style="list-style: none;">&copy;{{g.site.start_from}}-2020<i class="fa fa-heart mx-2" style="color: var(--primary-color)"></i><a
                    href="{{g.site.url}}">{{g.site.owner}}</a></li>
            {% if g.site.icp %}
            <li  style="list-style: none;"><a href="http://beian.miit.gov.cn/" target="_blank">{{g.site.icp}}</a></li>
            {% endif %}
        </ul>
    </footer>
    {% endblock %}
</body>

</html>