<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | {{ g.site.title }}</title>
    {% include 'partials/_head.html' %}
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="alert-info">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block mainbody %}{% endblock %}

    {%block footer %}

    {% endblock %}
</body>

</html>