{% extends "m_page.html" %}

{% block pagebody %}

<div class="container-fluid mb-3">
    <div class="container-fluid mb-3 clearfix">
        {% if post %}
        <button id="delete-btn" class="btn btn-primary float-right mr-2">删除</button>
        {% endif %}
        <button class="btn btn-primary float-right mr-2" id="commit-btn"> 保存 </button>
    </div>
    <div class="card mb-1">
        <div id="preview" class="col bg-light d-none"></div>
    </div>
    <div class="container-fluid mb-2">
        {% if post %}
        <div class="input-pid d-none">{{post.id}}</div>
        <input class="form-control" type="text" name="title" placeholder="标题" id="input-title" value="{{post.title}}">
        <input class="form-control mt-1" type="text" name="description" placeholder="描述" id="input-description" value="{% if post.description %}{{post.description}}{%endif%}">
        {% else %}
        <input class="form-control" type="text" name="title" id="input-title" placeholder="请输入标题" required>
        {% endif %}

    </div>
    <textarea class="col" id="text-input" type="text" placeholder="输入内容" oninput="this.editor.update()" rows="6"
    cols="60" style="height: 100vh;">{%+ if post -%}{{post.content}}{% else %}{% endif %}</textarea>


</div>
<script>
    var content = "";
    function Editor(input, preview) {
        this.update = function () {
            content = input.value;
            preview.innerHTML = marked(input.value);
        };
        input.editor = this;
        this.update();
    }
    var qbid = function (id) { return document.getElementById(id); };
    new Editor(qbid("text-input"), qbid("preview"));
</script>

<script>

    $(function () {
        $("#commit-btn").click((e) => {
            var title = $("#input-title").val();
            var description = $("#input-description").val();
            var pid = $(".input-pid").text();

            if (!title || title.lenth === 0) {
                alert("标题不能为空!");
                return;
            }
            var data = {
                "pid": pid,
                "title": title,
                "description": description,
                "content": content
            }
            console.log(data);
            console.log(window.location.href);
            
            $.post("{{ url_for('add_or_update_post') }}", data, () => {
                window.location.href = "m_index";
            });
        });
        $("#delete-btn").click(() => {
            var pid = $(".input-pid").text();
            if (!pid || pid.lenth === 0) {
                alert("请刷新");
                return;
            }
            $.get(`/delete/${pid}`, () => {
                window.location.href = "m_index";
            });
        });
    });

</script>
{% endblock %}