{% extends "m_page.html" %}

<!-- page body -->
{% block pagebody %}
<div class="container-fluid clearfix">
    <div class="btn-group mb-2 mt-4 float-right">
        <a href="{{url_for('edit')}}" class="btn btn-primary">新建</a>
    </div>
</div>
<div class="container-fluid">
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <div class="card">
                <div class="card-body">
                    {% if post.title %}
                    <h5 class="card-title">{{post.title}}</h5>
                    {% endif %}
                    {% if post.description %}
                    <p class="card-text">{{post.description}}</p>
                    {% endif %}
                </div>
                <div class="card-footer clearfix">
                    <a href="{{url_for('edit', pid=post.id)}}" class="btn btn-primary float-right">编辑</a>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>

{% endblock %}