{% extends "_page.html" %}

<!-- page body -->
{% block pagebody %}

<div class="container-fluid">
    <ul class="list-group">
        {% for post in payload %}
        <li class="list-group-item">
            <div class="card">
                <a href="{{url_for('article', title=post.title)}}">
                    <div class="card-body">
                        {% if post.title %}
                        <h3>{{post.title}}</h3>
                        {% endif %}
                        {% if post.description %}
                        <p class="card-text text-secondary">{{post.description}}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}